<ion-view view-title="Experiences">
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="animate-fade-slide-in" style="background-image: url('img/parallax1.jpg'); background-size: cover;">
        <div class="item card-item">
            <div class="card ink ink-dark card-transparent">
                <div class="item item-avatar item-text-wrap card-iconCategorie">
                    <span class="avatar"><i class="ion-cube calm"></i></span>
                    <strong>Déménageur</strong>
                    <br>Déménageur tous les étés depuis mes 16 ans. Ce travail saisonnier m'a appris énormément sur la valeur du travail et la cohésion d'équipe.
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div class="card ink ink-dark card-transparent">
                <div class="item item-avatar item-text-wrap card-iconCategorie">
                    <span class="avatar"><i class="ion-briefcase calm"></i></span>
                    <strong>Vendeur</strong>
                    <br>Vendeur pour Microsoft en magasin Darty durant les vacances d'hiver. Finalement en adéquation avec mes centres d'intérêt ce travail m'à montré que, lorsque l'on fait ce que l'on aime le travail n'est plus un labeur.
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div class="card ink ink-dark card-transparent">
                <div class="item item-avatar item-text-wrap card-iconCategorie">
                    <span class="avatar"><i class="ion-laptop calm"></i></span>
                    <strong>Développeur Web</strong>
                    <br>Une année en alternance chez Netnco. Cette expérience est de loin la plus gratifiante et enrichissante que j'ai pu connaître. Réellement impliqué dans les projets et la vie de l'entreprise, je m'y sens parfaitement bien.
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

