<ion-view view-title="Formations">
    <ion-content ng-class="{expanded:$scope.isExpanded}" class="animate-fade-slide-in" style="background-image: url('img/parallax1.jpg'); background-size: cover;">
        <div class="item card-item">
            <div class="card ink ink-dark card-transparent">
                <div class="item item-avatar item-text-wrap card-iconCategorie">
                    <span class="avatar"><i class="ion-erlenmeyer-flask calm"></i></span>
                    <strong>Baccalauréat Scientifique</strong>
                    <br>Option Science de l'ingénieur au Lycée Raynouard à Brignoles (83). 
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div class="card ink ink-dark card-transparent">
                <div class="item item-avatar item-text-wrap card-iconCategorie">
                    <span class="avatar"><i class="ion-code calm"></i></span>
                    <strong>BTS SNIR</strong>
                    <br>Systèmes Numériques Informatique et Réseaux au Lycée Thomas Edison de Lorgues (83). 
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div class="card ink ink-dark card-transparent">
                <div class="item item-avatar item-text-wrap card-iconCategorie">
                    <span class="avatar"><i class="ion-university calm"></i></span>
                    <strong>LP SIL DAM</strong>
                    <br>Licence Professionnelle Systèmes Informatiques et Logiciels Option Développement d'Applications à l'Université de Sophia Antipolis (06).
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
