<ion-view view-title="Profil">
    <ion-content ng-class="{expanded:$scope.isExpanded}" style="background-image: url('img/parallax1.jpg'); background-size: cover;">
        <div class="hero slide-up" style="background-image: url('img/parallax2.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/avatar1.png'); background-color: #ffffff;"></div>
                <h3><a class="light">Herouard Antoine</a></h3>
                <h4>Developpeur</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.formations" class="tab-item">
                <i class="icon ion-university"></i> Formations
            </a>
            <a ui-sref="app.experiences" class="tab-item">
                <i class="icon ion-settings"></i> Expériences
            </a>
            <a ui-sref="app.competences" class="tab-item">
                <i class="icon ion-stats-bars"></i> Compétences
            </a>
        </div>
        <div class="animate-fade-slide-in-right">
           <div class="item card-item">
                <div class="card ink ink-dark card-transparent">
                    <div class="item item-text-wrap card-iconCategorie" style="text-align: center;">
                        <strong>A propos</strong>
                        <br>Jeune développeur du sud de la France, je baigne dans le monde de l'informatique. 
                        Aujourd'hui âgé de 24 ans, j'ai une féroce envie de marquer ce monde de mon nom. 

                        Passionné de nouvelles technologies, l'informatique marque mon quotidien. 
                        Un monde entièrement connecté apparaît alors à mes yeux comme un idéal. 
                        Ordinateurs, smartphones, montres, télévisions, voitures … tous ces objets sont le prolongement de nous-même. Ils reflètent nos personnalités. 

                        C'est ce qui me motive à contribuer à leur évolution. 
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
