
/* Card
==================================*/

.card-item.item {
    border: none;
    padding-bottom: 4px;
    padding-top: 4px;
}

.card-item.item:first-child {
    padding-top: 16px;
}

.card {
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    display: block;
    margin: 8px;
    padding: 0;
    position: relative;
}
.card .image {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}
.card img {
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    display: block;
    max-width: 100%;
    max-height: initial;
    position: static;
}
.card.card-competences img {
    border: none;
    box-shadow: none;
    display: block;
}
.card .card-footer {
    font-size: 90%;
    opacity: 0.8;
    filter: alpha(opacity=80);
    padding-top: 10px;
}
.card > .item {
    border: none;
}
.card.card-competences > .item {
    background: inherit;
}
.card .icon + .icon {
    padding-left: 1rem;
}
.card.animate-fade-in {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(-30px, 1px, 0);
    -webkit-transition: all 1s ease-in-out;
}
.card.animate-fade-in.done {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0, 0, 0);
}
.card .item.item-avatar {
    min-height: 88px;
    padding-left: 88px;
}