/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}

/* home
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/avatar1.png') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    width: 125px;
}

.social-home {
    position: fixed;
    bottom: 0;
}

/* CARDS
====================================*/
.card-transparent{
    background-color: rgba(255,255,255,0.9);
}

.card-iconCategorie i{
    font-size: 60px;
}

.card-competence {padding: 20px 20px 20px 20px;}
.card-competence img{margin: auto; box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0);}
.card-competence h2{text-align: center; font-size: 22px; letter-spacing: 8px; padding: 0 0 20px 0;}
